<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PanPan - Register</title>
</head>

<body>
    <h1>Register</h1>

    <form action="{{ url_for('register') }}" method="post">
        <label for="clientname">Name:</label><br>
        <input type="text" name="clientname" id="clientname">
        <br><br>

        <label for="clientemail">Email:</label><br>
        <input type="text" name="clientemail" id="clientemail">
        <br><br>

        <label for="clientcel">Cellphone:</label><br>
        <input type="text" name="clientcel" id="clientcel">
        <br><br>

        <label for="passwd">Password:</label><br>
        <input type="password" name="passwd" id="passwd">
        <br><br>

        <label for="confpasswd">confirm password:</label><br>
        <input type="password" name="confpasswd" id="confpasswd">
        <br><br>

        <input type="submit" value="Register">
    </form>
</body>

</html>